table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    text-align: left;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
    color: #333;
  }
  